.sty-row-counter {
  display: inline-flex !important;
  width: auto !important;
}

.column-counter {
  padding-left: 20px;
}

.counter-number {
  font-size: 50px;
  color: #5e5e5e;
}

.counter-text {
  font-size: 25px;
  color: #5e5e5e;
}
